@import "./../global/global";
@import "./../global/theme";

.good-read-container {
    display: grid;

    .good-read-root {
        display: grid;

        .good-read {
            display: flex;

            .good-read-name {
                cursor: pointer;

                max-width: 88%;

                @extend .border-radius-2;
                @extend .padding-8;
                @extend .animation-transition-ease;
            }

            .good-read-name:hover {
                background: $color-h-I;
            }

            .good-read-date {
                margin: auto 0px;

                color: $color-primary;

                @extend .padding-8;
                @extend .font-style-italic;
                @extend .font-size-footnote;
            }

            @extend .margin-tb-8;
            @extend .margin-n-lr-8;
        }

        @extend .margin-tb-16;
    }
}
