@import "./../global/global";
@import "./../global/theme";

.post-container {
    display: grid;

    .post-root {
        display: grid;

        .post {
            display: flex;

            .post-description {
                cursor: pointer;

                max-width: 88%;

                @extend .border-radius-2;
                @extend .padding-8;
                @extend .animation-transition-ease;
            }

            .post-description:hover {
                background: $color-h-I;
            }

            .post-date {
                margin: auto 0px;

                color: $color-primary;

                @extend .padding-8;
                @extend .font-style-italic;
                @extend .font-size-footnote;
            }

            .post-content {
                overflow: auto;

                @extend .padding-lr-8;
            }

            @extend .margin-tb-8;
            @extend .margin-n-lr-8;
        }

        @extend .margin-tb-16;
    }
}
