@import "./../global/global";
@import "./../global/theme";

.content-renderer {

    display: grid;

    .heading {
        @extend .font-size-big-heading;
        @extend .margin-tb-32;
    }

    .sub-heading {
        @extend .font-size-heading;
        @extend .margin-tb-16;
    }

    .content {
        @extend .margin-tb-16;
    }

    .remark {
        border-left: 6px solid $color-h-II;

        @extend .margin-tb-16;
        @extend .padding-8;
    }

    .code {
        background: $color-h-III;

        @extend .margin-tb-16;
        @extend .padding-8;
    }

    .example {
        border-left: 6px solid $color-h-III;
        
        @extend .padding-8;
        @extend .margin-tb-16;
    }

    .sub {
        @extend .margin-tb-16;
    }

    .sub:first-child {
        margin-top: 0px;
    }

    .sub:nth-last-child(1) {
        margin-bottom: 0px;
    }

    .custom {
        @extend .margin-tb-16;
    }
}
